@font-face {
    font-family: "iA Writer Duo S";
    src: url("/font/iAWriterDuoS-Regular.woff2") format("woff2"),
    url("/font/iAWriterDuoS-Regular.woff") format("woff"),
    url("/font/iAWriterDuoS-Regular.eot") format("eot");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iA Writer Duo S";
    src: url("/font/iAWriterDuoS-Italic.woff2") format("woff2"),
    url("/font/iAWriterDuoS-Italic.woff") format("woff"),
    url("/font/iAWriterDuoS-Italic.eot") format("eot");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "iA Writer Duo S";
    src: url("/font/iAWriterDuoS-Bold.woff2") format("woff2"),
    url("/font/iAWriterDuoS-Bold.woff") format("woff"),
    url("/font/iAWriterDuoS-Bold.eot") format("eot");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "iA Writer Duo S";
    src: url("/font/iAWriterDuoS-BoldItalic.woff2") format("woff2"),
    url("/font/iAWriterDuoS-BoldItalic.woff") format("woff"),
    url("/font/iAWriterDuoS-BoldItalic.eot") format("eot");
    font-weight: bold;
    font-style: italic;
}

body {
  font-family: "iA Writer Duo S", monospace !important;
  font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
}